html, body{
    background-image: linear-gradient(to bottom, #000, #222);
    height:100vh;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    overflow: hidden;
}
.slider-container{
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    overflow: hidden;
}
 
.slide{
    position: absolute;
    top: 0px;
    width: 0%;
    overflow: hidden;
    height: 100%;
    transition: all 1.2s ease;
}
.slide:nth-child(even){
    left:100%;
}
.slide:nth-child(odd){
    left:0%;
}
.slide .slide-image{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.slide-active{
    top:0px;
    left:0% !important;
    width: 100%;
    height: 100%;
    position: absolute;
}
